<a href="https://colab.research.google.com/github/gantlforra/text-columns-logic/blob/main/text_columns_logic_2023_0102.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [82]:
# Get data
import requests
url = 'https://raw.githubusercontent.com/gantlforra/text-columns-logic/main/wizard-1_2022-1014.txt'
data = requests.get(url).text

In [83]:
# Clean data
data = data.replace('\ufeff', '')
data = data.replace('\r\n', ' ')
data = data.replace('" "', '". "')

In [84]:
# Divide data by Keyword
main_divide = '. '
keys = data.split(main_divide)

In [85]:
# Create Dataframe from Keys and replace empty cells
import pandas as pd
import numpy as np

df = pd.DataFrame(keys)
df[0].replace('', np.nan, inplace=True)
df.dropna(inplace = True)

In [86]:
# Beautify Dataframe
df[0] += '.'
df

                                                       0
0      Wizard's First Rule By Terry Goodkind CHAPTER ...
1      Dusky variegated leaves hunkered against a ste...
2      Sap drooled down the wounded bark, and dry lim...
3      Pods stuck out from the vine here and there al...
4      It was the smell that first had caught his att...
...                                                  ...
24851               Zedd couldn't help smiling a little.
24852  "That, and I must take her to Aydindril, to th...
24853                  We have a lot of reading to do.".
24854  "Why would you want to take Adie to Aydindril,...
24855  "Because she knows more about the underworld t...

[24413 rows x 1 columns]